@charset "UTF-8";
.contents {
  margin: 20px 2vw;
  width: 80vw;
}

.new-line {
  padding: 30px;
}

* {
  background-color: rgb(240, 240, 223);
  color: rgb(65, 65, 65);
  font-family: "游ゴシック体";
}

.header-info {
  margin: 20px 2vw;
}

#navbar {
  padding: 20px 0;
}
#navbar nav ul {
  list-style: none;
  padding: 0 20px;
}

.author-info {
  margin: 20px 2vw;
}
.author-info h6 {
  display: inline;
  padding: 12px;
  font-size: 16px;
}